		 .title {
            padding-top: 0pt;
            color: #000000;
            padding-bottom: 0pt;
            line-height: 1.15;
            page-break-after: avoid;
            text-align: left
        }
        
        .subtitle {
            padding-top: 0pt;
            color: #666666;
            font-size: 13pt;
            padding-bottom: 10pt;
             
            line-height: 1.15;
            page-break-after: avoid;
            font-style: italic;
             
             
            text-align: left
        }
        
        li {
            color: #000000;
        }
        
        p {
            margin: 0;
            color: #000000;
            font-size: 11pt;
             
        }
        
        h1 {
            color: #000000;
            padding-bottom: 0pt;
             
            line-height: 1.15;
            page-break-after: avoid;
            text-align: left;
			margin:0;
			
        }
        
        h2 {
            padding-top: 10pt;
            color: #000000;
            font-weight: bold;
            font-size: 13pt;
            padding-bottom: 0pt;
             
            line-height: 1.15;
            page-break-after: avoid;
             
             
            text-align: left
        }
        
        h3 {
            padding-top: 8pt;
            color: #666666;
            font-weight: bold;
            font-size: 12pt;
            padding-bottom: 0pt;
             
            line-height: 1.15;
            page-break-after: avoid;
             
             
            text-align: left
        }
        
        h4 {
            padding-top: 8pt;
            text-decoration: underline;
            font-size: 11pt;
            padding-bottom: 0pt;
             
            line-height: 1.15;
            page-break-after: avoid;
             
             
            text-align: left
        }
        
        h5 {
            color: #D80000;
            font-size: 11pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            page-break-after: avoid;
            text-align: left;
			margin-bottom: 5px;
			margin-top: 5px;
        }
        
        h6 {
            padding-top: 8pt;
            color: #666666;
            font-size: 11pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            page-break-after: avoid;
            font-style: italic;
            text-align: left
        }


		#stickingMenu{
			top : 0px;
			position : fixed;
			background-color: #666;
			width: 100%;
		}
		#stickingMenu .columniser-text > div {
			float : none!important;
		}
		#stickingMenu .columniser-text i, #stickingMenu .columniser-text span {
			color: white!important;
		}
		#washer {
			background-color : #666;
		}
		#washer h3 {
			color: #ffd966;
		}
		
		#washer h3 a {
			color: #ffd966;
			white-space: nowrap;
			overflow: hidden;
			width: 300px;
		}
		
		html {
			max-width: 100%;
		}
	
        ol {
            margin: 0;
            padding: 0
        }
		
		
		
		
		tr.c72 > td.c63	{
			    border-right-style: solid;
				padding: 5pt 5pt 5pt 5pt;
				border-bottom-color: #ffffff;
				border-top-width: 0pt;
				border-right-width: 0pt;
				border-left-color: #ffffff;
				vertical-align: middle;
				border-right-color: #ffffff;
				border-left-width: 0pt;
				border-top-style: solid;
				border-left-style: solid;
				border-bottom-width: 0pt;
				width: 700px;
				border-top-color: #ffffff;
				border-bottom-style: solid;
				color : white;
		}
		
		tr.c72 > td.c63	p {
			width : 150px;
			margin: 0 auto;
			background-color: #9900ff;
			padding: 15px;
		}
		
		tr.c72 > td.c63	p > span > a {
			text-decoration : none;
			color : white;
			font-size : 19px;
		}
		
		